p#a1
{
color:#e20c6b;
text-align : center;
background-color.red;
}
#a2
{
color : rgb(0,50,0);
}
html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}
